\documentclass[letterpaper]{article}
%\documentclass[a4paper]{article}

\usepackage[parfill]{parskip}
\setlength{\parindent}{15pt}
\usepackage{indentfirst}

\usepackage{fancyhdr}
\fancypagestyle{plain}{
\fancyfoot[C]{Copyright \textcopyright\ ${1:year} Jerry D'Antonio. All Rights Reserved.}
}
\renewcommand{\headrulewidth}{0pt}

\title{${2:title}}
\author{Jerry D'Antonio}

\begin{document}
\maketitle
\section*{${3:section name}}
\label{${4:$3}}
${5}
\end{document}