.vagrant
Gemfile.lock
*.gem
.rvmrc
.ruby-version
.ruby-gemset
.bundle/*
.yardoc/*
doc/*
tmp/*
man/*
*.tmproj
rdoc/*
*.orig
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
.DS_Store
TAGS
tmtags
*.sw?
.idea
.rbx/*
pkg
